// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
	text-align:center;	
}
.bold {
	font-weight:bolder;
}
a.logo {
	color:#ffffff;
	font-size:.9em;
	vertical-align:top;
}
.logo:hover {
	text-decoration:none;
}

